.App {
  text-align: center;
  height: 100vh; /* Full viewport height */
  display: flex; /* Flexbox for centering */
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  background-color: #f5f5f5; /* Optional: Background color */
}

.App-header {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  padding: 20px;
  margin-top: 50px;
  gap: 5px; /* Add spacing between the heading and image */
}

img {
  max-width: 100%; /* Ensure the image scales properly */
  height: 650px;
  transition: transform 0.1s ease;
}

img.pressed {
  transform: translateY(5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2)
}

.sparkle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Ensure sparkles don't block mouse events */
}

.sparkle {
  position: absolute;
  width: 10px;
  height: 10px;
  background: radial-gradient(circle, #ffcc00, rgba(255, 204, 0, 0));
  border-radius: 50%;
  pointer-events: none;
  animation: sparkle-fade 1s ease-out forwards;
}

@keyframes sparkle-fade {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}